### Enviroment Variables/API Keys ###
.env
.Enviroment
/.env
/.env*
.env*
.env.local
.env.production

### IDE (Code Editor) Configurations Direcotries ###
.idea
.vscode
/.idea
/.vscode

### Packages/Modules & Dependencies & Caches ###
node_modules
.next
/build
build
.venv
venv
/venv
/.venv
__pycache__
.pycache
.pycache/*
/.pycache
/.pycache/*
.temp 
.tmp
build
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
*.log

### AI Agent Memory ###s
memory.db
storage
/storage

### For Extra Safty ###
.gitignore