### Enviroment Variables/API Keys ###
.env
.Enviroment
/.env
/.env*
.env*

### IDE (Code Editor) Configurations Direcotries ###
.idea
.vscode
/.idea
/.vscode

### Packages/Modules & Dependencies & Caches ###
node_modules
.next
/build
build
.venv
venv
/venv
/.venv
__pycache__
.pycache
.pycache/*
/.pycache
/.pycache/*

### AI Agent Memory ###s
memory.db
storage
/storage

### For Extra Safty ###
.gitignore